html, body{
    font-size: 10px !important;
    height: 100% !important;
}

body{
    background-color:var(--color-pomb-and-power);
    max-width: 320px;
    margin-left: auto !important;
    margin-right: auto !important;
    font-family: "Press Start 2P", cursive !important;

}